---
import type { JSXElement } from "solid-js";

interface Props {
  id: string;
  title: string;
  description: string;
  canonical: string;
  thumbnail: string;
  children: () => JSXElement;
}

const { title, description, canonical, thumbnail } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={thumbnail} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={thumbnail} />

    <link rel="canonical" href={canonical} />
    <link rel="shortcut icon" href={thumbnail} type="image/x-icon" />
  </head>

  <body>
    <slot />
  </body>
</html>
